[package]
name = "antimony"
version = "3.0.0"
edition = "2024"

[workspace]
members = [
    ".",
    "crates/seccomp",
    "crates/spawn",
    "crates/user",
    "crates/antimony_completions",
    "crates/antimony_utils",
]

[dependencies]
user = { path = "crates/user", features = ["sync"] }
seccomp = { path = "crates/seccomp", features = ["notify"] }
spawn = { path = "crates/spawn", features = ["cache", "elevate", "fd", "seccomp", "user"] }
anyhow = "1.0.98"
clap = { version = "4.5.39", features = ["derive"] }
dashmap = { version = "6.1.0", features = ["rayon"] }
env_logger = "0.11.8"
inotify = { version = "0.11.0", default-features = false }
log = "0.4.27"
nix = { version = "0.30.1", features = ["fs", "poll", "process", "signal", "user", "socket", "uio"] }
once_cell = "1.21.3"
rand = "0.9.1"
rayon = "1.10.0"
serde = { version = "1.0.219", features = ["derive"] }
strum = { version = "0.27.1", features = ["strum_macros"] }
strum_macros = "0.27.1"
tempfile = "3.20.0"
toml = "0.8.22"
which = "8.0.0"
indicatif = { version = "0.18.0", features = ["improved_unicode", "rayon"] }
signal-hook = "0.3.18"
console = "0.16.0"
Inflector = "0.11.4"
rusqlite = "0.37.0"
r2d2_sqlite = "0.31.0"
r2d2 = "0.8.10"
dialoguer = { version = "0.11.0", default-features = false }
dbus = "0.9.10"
parking_lot = "0.12.5"

[profile.release]
opt-level = 3
codegen-units = 1
lto = "fat"
panic = "abort"
