[package]
name = "antimony"
version = "3.0.0"
edition = "2024"

[workspace]
members = [
    ".",
    "crates/seccomp",
    "crates/spawn",
    "crates/user",
    "crates/antimony_completions",
    "crates/antimony_utils",
    "crates/notify", "crates/which",
]

[dependencies]
user = { path = "crates/user", features = ["sync"] }
seccomp = { path = "crates/seccomp", features = ["notify"] }
spawn = { path = "crates/spawn", features = ["cache", "elevate", "fd", "seccomp", "user"] }
notify = { path = "crates/notify" }
which = { path = "crates/which" }
anyhow = { version = "1.0.98", features = ["std"] }
clap = { version = "4.5.39", features = ["derive", "help", "usage", "std"], default-features = false }
dashmap = { version = "6.1.0", features = ["rayon"] }
inotify = { version = "0.11.0", default-features = false }
log = "0.4.27"
nix = { version = "0.30.1", features = ["fs", "poll", "process", "signal", "user", "socket", "uio"] }
rand = "0.9.1"
rayon = "1.10.0"
serde = { version = "1.0.219", features = ["derive"] }
tempfile = "3.20.0"
toml = "0.8.22"
indicatif = { version = "0.18.0", features = ["improved_unicode", "rayon"] }
signal-hook = "0.3.18"
console = "0.16.0"
Inflector = { version = "0.11.4", default-features = false }
rusqlite = "0.37.0"
r2d2_sqlite = "0.31.0"
r2d2 = "0.8.10"
dialoguer = { version = "0.11.0", default-features = false }
dbus = { version = "0.9.10", features = ["stdfd"] }
ahash = { version = "0.8.12", default-features = false, features = ["compile-time-rng", "std"] }
parking_lot = { version = "0.12.5", features = ["deadlock_detection"] }

[dev-dependencies]
anyhow = { version = "1.0.98", features = ["backtrace", "std"] }

[profile.dev]
debug = false

[profile.release]
opt-level = 3
codegen-units = 1
lto = "fat"
panic = "abort"
strip = "symbols"

[profile.gdb]
inherits = "dev"
debug = true

[profile.symbols]
inherits = "release"
strip = "none"
