[package]
name = "spawn"
version = "0.1.0"
edition = "2024"

[features]
default = []
fd = []
elevate = []
cache = []

[dependencies]
seccomp = { path = "../seccomp", optional = true }
user = { path = "../user", optional = true}
log = "0.4.27"
nix = { version = "0.30.1", features = ["fs", "process", "signal"] }
which = "8.0.0"
parking_lot = "0.12.4"
signal-hook = "0.3.18"

[dev-dependencies]
anyhow = "1.0.98"
env_logger = "0.11.8"
log = "0.4.27"
