[package]
name = "common"
version = "0.1.0"
edition = "2024"

[dependencies]
ahash = { version = "0.8.12", default-features = false, features = ["no-rng"] }
dashmap = { version = "6.1.0", default-features = false }
nix = { version = "0.30.1", features = ["poll", "socket", "uio"] }
